<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.MineralDAO">
    <resultMap id="BaseResultMap" type="com.example.demo.entity.Mineral">

        <id column="ID" jdbcType="NUMERIC" property="ID" />
        <result column="NAME" jdbcType="VARCHAR" property="name" />
        <result column="TYPE" jdbcType="VARCHAR" property="type" />
        <result column="INTRODUCTION" jdbcType="VARCHAR" property="introduction" />
        <result column="COLOR" jdbcType="VARCHAR" property="color" />
        <result column="JIELI" jdbcType="VARCHAR" property="jieli" />
        <result column="TUQI" jdbcType="VARCHAR" property="tuqi" />
        <result column="COLORGANSHE" jdbcType="VARCHAR" property="colorganshe" />
        <result column="XIAOGUANG" jdbcType="VARCHAR" property="xiaogaung" />
        <result column="SHUANGJING" jdbcType="VARCHAR" property="shuangjing" />
        <result column="GUANGXING" jdbcType="VARCHAR" property="guangxing" />
        <result column="PIC1" jdbcType="BLOB" property="pic1" />
        <result column="PIC2" jdbcType="BLOB" property="pic2" />
        <result column="PIC3" jdbcType="BLOB" property="pic3" />
    </resultMap>

    <!-- public List<Time> findTrain(Date date, String start, String arrive)-->
    <select id="findMineralByName" parameterType="string"  resultType="com.example.demo.entity.Mineral" >
        select * from Mineral
        where name=#{name}
  </select>









</mapper>